	<nav class="navbar bg-light navbar-light navbar-expand-md">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
			<span class="navbar-toggler-icon">
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">

		<ul class="navbar-nav mx-auto">
			<li class="nav-item"><a href="/" class="nav-link">Welkom</a></li>
			<li class="nav-item"><a href="/voorgerechten" class="nav-link">Voorgerechten</a></li>
			<li class="nav-item"><a href="/hoofdgerechten" class="nav-link">Hoofdgerechten</a></li>
			<li class="nav-item"><a href="/bakken" class="nav-link">Bakken</a></li>
		</ul>

		</div>
	</nav>
